@import url(//db.onlinewebfonts.com/c/0aee6008b82cde991ec28387169bb13e?family=GD+Sherpa);
@import url(//db.onlinewebfonts.com/c/8a86b3e611f41da6ca263bf6c73dc65b?family=GDSage-Bold);

:root {
	--global-color-light-blue: rgb(216, 239, 239);
	--global-color-dark-blue: rgb(0, 131, 140);
	--global-color-black: rgb(17, 17, 17);
	--global-color-purple: rgba(84, 58, 183, 1);
}

/* Home page moving lines */
#light {
	position: relative;
	top: 150px;
}
#lineh1 {
	position: absolute;
	left: 0;
	height: 10px;
	background: var(--global-color-purple);
	animation: lineH 4s 5s infinite linear;
}
#lineh2 {
	position: absolute;
	left: 0;
	top: 40px;
	height: 10px;
	background: var(--global-color-light-blue);
	animation: lineH 5s 0.5s infinite linear;
}
#lineh3 {
	position: absolute;
	left: 0;
	top: 70px;
	height: 10px;
	background: #00d4ff;
	animation: lineH 5s 2s infinite linear;
}
#lineh4 {
	position: absolute;
	right: 0;
	top: 100px;
	height: 10px;
	background: var(--global-color-dark-blue);
	animation: lineH 5s 1s infinite linear;
}
#lineh5 {
	position: absolute;
	left: 0;
	top: 130px;
	height: 10px;
	background: var(--global-color-purple);
	animation: lineH 5s 4s infinite linear;
}
#lineh6 {
	position: absolute;
	right: 0;
	top: 160px;
	height: 10px;
	background: var(--global-color-light-blue);
	animation: lineH 4s 1s infinite linear;
}
#lineh7 {
	position: absolute;
	right: 0;
	top: 190px;
	height: 10px;
	background: var(--global-color-purple);
	animation: lineH 4s 0s infinite linear;
}
#lineh8 {
	position: absolute;
	left: 0;
	top: 220px;
	height: 10px;
	background: #00ffff;
	animation: lineH 4s 1.5s infinite linear;
}
#lineh9 {
	position: absolute;
	left: 0;
	top: 250px;
	height: 10px;
	background: #2b002b;
	animation: lineH 5s 2s infinite linear;
}
#lineh10 {
	position: absolute;
	right: 0;
	top: 280px;
	height: 10px;
	background: #005580;
	animation: lineH 4s 3s infinite linear;
}
#lineh11 {
	position: absolute;
	right: 0;
	top: 310px;
	height: 10px;
	background: var(--global-color-purple);
	animation: lineH 4s 1s infinite linear;
}
#lineh12 {
	position: absolute;
	right: 0;
	top: 340px;
	height: 10px;
	background: #85b085;
	animation: lineH 6s 1s infinite linear;
}
@keyframes lineH {
	0% {
		width: 0%;
	}
	100% {
		width: 95%;
		opacity: 0;
	}
}
.home-page-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-heading {
	color: var(--global-color-dark-blue);
	margin: 1rem;
	font-family: GD Sage;
	text-shadow: 2px 2px var(--global-color-light-blue);
}

.header {
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 1rem;
	border-bottom: 2px solid var(--global-color-light-blue);
	/* background-color: var(--global-color-light-blue); */
	background: rgb(0, 131, 140);
	background: linear-gradient(90deg, rgba(0, 131, 140, 1) 35%, rgba(216, 239, 239, 1) 100%);
}

.header-heading {
	font-size: 2rem;
	color: rgb(255, 255, 255);
	background-clip: text;
	-webkit-background-clip: text;
	font-weight: 700;
	font-family: GD Sage;
	text-shadow: 2px 2px black;
}

.main-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.data-table {
	box-shadow: 5px 5px 15px lightgray;
	padding: 10px;
	margin-bottom: 20px;
}

.table-heading {
	border-bottom: 1px solid gray;
	background-color: var(--global-color-dark-blue);
	color: white;
}

.table-heading * {
	padding: 5px 10px;
}

.table-h2 {
	font-family: GD Sage;
	color: var(--global-color-dark-blue);
	text-shadow: 2px 2px var(--global-color-light-blue);
}

.table-body * {
	background-color: rgb(247, 247, 247);
	border: 1px solid lightgray;
	padding: 2px 4px;
}

.table-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.export-btn {
	border: none;
	background-color: transparent;
	margin: 5px;
	border-radius: 20px;
}

.export-btn:hover {
	cursor: pointer;
	/* background-color: var(--global-color-light-blue); */
}


.excel-button-logo:hover  {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}

.export-btn * {
	color: black;
}

.excel-button-logo {
	width: 100px;
}

.excel-button-logo * {
	color: black;
}

.table-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.table-header {
	text-decoration: underline;
}

.show-table-button {
	border: none;
	background-color: var(--global-color-light-blue);
	width: 250px;
	text-align: center;
	align-self: center;
	margin: 1rem;
	padding: 5px;
	font-family: GD Sage;
	color: var(--global-color-dark-blue);
	min-width: 250px;
	border-radius: 7px;
}

.show-table-button:hover {
	cursor: pointer;
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	transform: translateY(-0.1rem);
	box-shadow: 0 0.3rem 0.2rem rgba(3, 113, 115, 0.1), 0 0.6rem 1rem rgba(0, 144, 166, 0.3);
	-webkit-transition: transform 0.2s ease-in-out;
	-moz-transition: transform 0.2s ease-in-out;
	-ms-transition: transform 0.2s ease-in-out;
}

.page-heading {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	/* width: 160px; */
	text-align: center;
	margin: auto;
	white-space: nowrap;
	padding-bottom: 13px;
	font-family: GD Sage;
	margin: 2rem;
}
.page-heading:before {
	background-color: var(--global-color-dark-blue);
	content: "";
	display: block;
	position: relative;
	height: 3px;
	/* width: 100%; */
	margin-bottom: 5px;
	/* left: -25%; */
	animation: line-shower 0.5s ease-in-out;
}

.page-heading:after {
	background-color: var(--global-color-dark-blue);
	content: "";
	display: block;
	position: relative;
	margin-top: 5px;
	/* right: -4rem; */
	/* bottom: 0; */
	height: 3px;
	animation: line-shower 0.5s ease-in-out;
	margin-bottom: 0.25em;
}

@keyframes line-shower {
	/* 0%{
		width: 0;
	}
	100%{
		width: 100%;
	} */
	from {
    left:50%;
    width:0%;
  }
  to {
    left:5%;
    width:90%;
  }
}


/* HEADER CSS */

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
	margin: 0;
}

h1 {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 48px;
}
p {
	font-family: "Lato", sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	color: #333333;
}

.wavy-header {
	position: relative;
	text-align: center;
	background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
	color: white;
	cursor: pointer;
}

.inner-header {
	height: 10vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.flex {
	/*Flexbox for containers*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.waves {
	position: relative;
	width: 100%;
	height: 2vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 50px;
	max-height: 50px;
}

.content {
	position: relative;
	height: 20vh;
	text-align: center;
	background-color: white;
}

/* Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 40px;
		min-height: 40px;
	}
	.content {
		height: 30vh;
	}
	h1 {
		font-size: 24px;
	}
}

/* Loader */

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	align-self: center;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #cef;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}

