@import url(//db.onlinewebfonts.com/c/0aee6008b82cde991ec28387169bb13e?family=GD+Sherpa);
@import url(//db.onlinewebfonts.com/c/8a86b3e611f41da6ca263bf6c73dc65b?family=GDSage-Bold);

:root {
	--global-color-light-blue: rgb(216, 239, 239);
	--global-color-dark-blue: rgb(0, 131, 140);
	--global-color-black: rgb(17, 17, 17);
}

.header {
	display: flex;
	justify-content: center;
	padding: 1rem;
	font-size: 2rem;
	color: rgb(17, 17, 17);
	font-weight: 700;
	border-bottom: 2px solid var(--global-color-dark-blue);
	font-family: GD Sage;
	background-color: var(--global-color-light-blue);
}

.main-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.data-table {
	border: 1px solid black;
	box-shadow: 5px 5px 15px lightgray;
	padding: 10px;
}

.table-heading {
	border-bottom: 1px solid gray;
	background-color: var(--global-color-dark-blue);
	color: white;
}

.table-heading * {
	padding: 5px 10px;
}

.table-h2 {
	font-family: GD Sage;
}

.table-row {
  border: 3px solid black;
}

.table-body * {
	background-color: rgb(247, 247, 247)
}
